---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale || "es";
const scheduleURL = `${getRelativeLocaleUrl(lang, "schedule")}#schedule_widget`;

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
---

<a
  href={scheduleURL}
  id="reserve-button"
  class="darkPink rotate-90 lg:rotate-0 w-fit fixed translate-x-1/2 lg:translate-x-0 right-0 mr-3 lg:mr-0 top-1/2 lg:top-[20%] -translate-y-1/2 px-4 py-2 lg:rounded-l-full lg:rounded-r-none rounded-full shadow-lg text-xs md:text-lg z-[100] transition-colors"
>
  {t("reserve_button")}
</a>
