<button
  class="rotate-90 lg:rotate-0 w-fit fixed translate-x-1/2 lg:translate-x-0 right-0 mr-3 lg:mr-0 top-1/2 lg:top-[20%] -translate-y-1/2 px-4 py-2 bg-black text-secondary lg:rounded-l-full lg:rounded-r-none rounded-full shadow-lg text-xs z-50"
>
  Agenda tu primera cita !
</button>
