/* Adding @font-face rules for all fonts in public/fonts */
@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

img {
  @apply border-[1px] border-primary;
}

.darkPink {
  @apply bg-primary text-secondary transition-colors;
}

.dark {
  @apply bg-primary text-secondary transition-colors;
}

.light {
  @apply bg-secondary text-primary transition-colors;
}

.lightPink {
  @apply bg-secondary text-pinkCustom transition-colors;
}

.light:hover {
  @apply bg-primary text-secondary;
}

.lightPink:hover {
  @apply bg-primary text-secondary;
}

.darkPink:hover {
  @apply bg-pinkCustom text-primary;
}

.dark:hover {
  @apply bg-secondary text-primary;
}
