/* Adding @font-face rules for all fonts in public/fonts */
@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Warming";
  src: url("/fonts/Warming-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

html {
  @apply lg:text-[1rem] xl:text-[0.71rem] 2xl-prev:text-base 2xl:text-base 2xl-custom:text-[1.5rem] 3xl-custom:text-[2.3rem];
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #efeceb;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  font-family: "Warming", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  overflow-x: hidden;
  @apply tracking-wide;
}

.white-space-pre-line {
  white-space: pre-line;
}

/* img {
  @apply border-[1px] border-primary;
} */


.darkPink {
  @apply bg-primary text-secondary transition-colors;
}

.dark {
  @apply bg-primary text-secondary transition-colors;
}

.light {
  @apply bg-secondary text-primary;
}

.lightPink {
  @apply bg-secondary text-pinkCustom;
}

.light:hover {
  @apply bg-primary text-secondary;
}

.lightPink:hover {
  @apply bg-primary text-secondary delay-0;
}

.darkPink:hover {
  @apply bg-pinkCustom text-primary;
}

.dark:hover {
  @apply bg-secondary text-primary;
}

.link-underline {
  @apply relative w-fit;
}

.link-underline::after {
  content: "";
  @apply absolute left-0 bottom-0 w-0 h-[2px] bg-current transition-all duration-300;
}

.link-underline:hover::after {
  @apply w-full;
}

.about-links {
  @apply hover:text-darkPink transition-colors duration-200 px-1;
}

/* a:hover {
  @apply text-darkPink;
} */

header.primary a:hover {
  @apply text-darkPink;
}

header.secondary a:hover {
  @apply text-pinkCustom;
}

.input-border input,
.input-border textarea {
  @apply border border-primary;
}

input,
textarea {
  @apply bg-secondary;
}