---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import collage from "../../assets/about-interior/collage.jpg";
import collage_sm from "../../assets/about-interior/collage_sm.jpg";
import { getRelativeLocaleUrl } from "astro:i18n";
import Logo from "../../assets/logo/logo.svg";

const lang = Astro.currentLocale || "es";
const contactURL = getRelativeLocaleUrl(lang, "contact");
---

<Layout
  title="About Us"
  description="Discover the story, philosophy, and purpose behind Laira Balance Studio. A space designed for balance, calm, and beauty. Live with purpose and find elegance in stillness."
>
  <main>
    <div class="flex flex-col gap-12 w-full min-h-screen bg-pinkCustom pt-32">
      <section id="about_interior" class="w-full h-fit relative">
        <div class="prose prose-xl px-10 text-secondary">
          <h1
            class="italic font-bold text-5xl thin-screen:text-3xl text-secondary fade-up-item !duration-[600ms] delay-200"
          >
            Learn more about Laira Balance
          </h1>
          <p class="fade-up-item !duration-[600ms] delay-[400ms]">
            Laira Balance was born from a pause. From that instant when the body
            asks for silence and the soul whispers that it is time to return to
            your center. Its founder, Laura García, discovered in movement a way
            to heal not only the body but also the mind. After years living
            where noise and hurry were constant, she understood that true luxury
            is not about having more, it is about feeling better.
          </p>
          <p class="fade-up-item !duration-[600ms] delay-[600ms]">
            That is how Laira Balance came to life, a space created from calm
            and designed for those who seek balance without giving up beauty.
            Every texture, every tone and every detail reflects the same
            philosophy, the art of living in harmony. Through Pilates, Barre and
            Yoga, movement becomes ritual. Design becomes refuge. And each
            session is an invitation to come back to yourself.
          </p>

          <p class="fade-up-item !duration-[600ms] delay-[800ms]">
            More than a studio, Laira Balance is a declaration of intention, to
            live with purpose, breathe with awareness and find elegance in
            stillness.
          </p>
          <a
            href={contactURL}
            class="fade-up-item !duration-[600ms] delay-[1000ms] lightPink rounded-full px-6 py-4 no-underline"
            >Contact Us</a
          >
        </div>
        <Logo
          class="absolute h-full top-0 right-10 translate-x-1/2 opacity-50 text-secondary"
        />
      </section>
      <section id="about-image">
        <Image
          height={1920}
          width={1080}
          quality={100}
          src={collage_sm}
          alt="Collage describing the Laira Balance experience."
          class="w-full object-cover md:hidden"
        />
        <Image
          height={1920}
          width={1080}
          quality={100}
          src={collage}
          alt="Collage describing the Laira Balance experience."
          class="w-full object-cover hidden md:block"
        />
      </section>
    </div>
  </main>
</Layout>

<style>
  p {
    @apply text-base;
  }
</style>
