---
import { Image } from "astro:assets";
import AboutImage from "../assets/about/about.jpg";
import Down_Arrow from "../assets/icons/down_arrow.svg";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);

const lang = Astro.currentLocale || "es";
const aboutURL = getRelativeLocaleUrl(lang, "about");
---

<section
  id="about"
  class="min-h-screen md-vertical:min-h-0 md-vertical:py-20 w-full max-w-screen flex flex-col md:flex-row justify-center md:justify-normal md:items-end pb-10 md:pr-20 relative gap-10 pt-20 px-8 md:px-0"
>
  <Image
    src={AboutImage}
    alt="About Us"
    quality={80}
    height={1920}
    width={1080}
    quality={80}
    class="object-contain self-center lg:self-auto lg:max-h-[80vh] max-w-fit lg:min-w-1/2 md:w-1/2 md:aspect-square w-fit hidden md:block"
  />
  <Image
    src={AboutImage}
    alt="About Us mobile"
    quality={80}
    height={1920}
    width={1080}
    quality={80}
    class="object-cover w-full max-w-96 md:hidden"
  />
  <div class="flex flex-col gap-10">
    <div class="prose lg:prose-xl prose-neutral">
      <h2>{t("home.about.heading")}</h2>
      <p class="text-sm">
        {t("home.about.p1")}
      </p>

      <p class="text-sm">
        {t("home.about.p2")}
        práctica con estilo y comodidad.
      </p>
      <a
        href="#Yoga"
        class="flex group justify-between no-underline about-links"
      >
        <span>Yoga</span>
        <Down_Arrow
          class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
        />
      </a>
      <div class="w-full h-px bg-gray-700"></div>
      <a
        href="#Barre"
        class="flex group justify-between no-underline about-links"
      >
        <span>Barre</span>
        <Down_Arrow
          class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
        />
      </a>
      <div class="w-full h-px bg-gray-700"></div>
      <a
        href="#Ballet"
        class="flex group justify-between no-underline about-links"
      >
        <span>Ballet</span>
        <Down_Arrow
          class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
        />
      </a>
      <div class="w-full h-px bg-gray-700"></div>
      <a
        href="/about"
        class="flex group justify-between no-underline about-links"
      >
        <span>Boutique Laira Brand</span>
        <Down_Arrow
          class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
        />
      </a>
      <div class="w-full h-px bg-gray-700"></div>
    </div>
    <a
      class="px-6 py-3 darkPink rounded-full w-fit no-underline"
      href={aboutURL}>{t("home.about.button")}</a
    >
  </div>
</section>
