---
import { Image } from "astro:assets";
import AboutImage from "../assets/about/about.jpg";
import About_sm_Image from "../assets/about/about_sm.jpg";
import Down_Arrow from "../assets/icons/down_arrow.svg";
---

<section
  id="about"
  class="min-h-screen w-full max-w-screen flex flex-col md:flex-row justify-center md:justify-normal md:items-end pb-10 md:pr-20 relative gap-10 pt-20 px-8 md:px-0"
>
  <Image
    src={AboutImage}
    alt="About Us"
    quality={70}
    height={1920}
    width={1080}
    quality={80}
    class="object-contain lg:h-[80vh] lg:w-auto md:w-1/2 md:aspect-square w-fit hidden md:block"
  />
  <Image
    src={AboutImage}
    alt="About Us mobile"
    quality={70}
    height={1920}
    width={1080}
    quality={80}
    class="object-cover w-full md:hidden"
  />
  <div class="prose lg:prose-xl prose-neutral">
    <h2>Sobre Nosotros</h2>
    <p class="text-sm">
      Laira Balance es un estudio boutique de Yoga, Pilates y Barre, creado para
      ofrecer una experiencia integral de bienestar físico y mental en un
      entorno chic, sereno y cuidadosamente diseñado. Cada clase está pensada
      para equilibrar fuerza, flexibilidad y conciencia corporal, guiada por
      instructores certificados que valoran la técnica y la conexión interior
    </p>

    <p class="text-sm">
      Además, dentro del estudio encontrarás la boutique Laira Brand, una línea
      exclusiva de ropa deportiva y accesorios que complementan tu práctica con
      estilo y comodidad.
    </p>
    <a href="#Yoga" class="flex group justify-between no-underline">
      <span>Yoga</span>
      <Down_Arrow
        class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
      />
    </a>
    <div class="w-full h-px bg-gray-700"></div>
    <a href="#Barre" class="flex group justify-between no-underline">
      <span>Barre</span>
      <Down_Arrow
        class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
      />
    </a>
    <div class="w-full h-px bg-gray-700"></div>
    <a href="#Ballet" class="flex group justify-between no-underline">
      <span>Ballet</span>
      <Down_Arrow
        class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
      />
    </a>
    <div class="w-full h-px bg-gray-700"></div>
    <a href="/about" class="flex group justify-between no-underline">
      <span>Boutique Laira Brand</span>
      <Down_Arrow
        class="h-4 w-4 self-center group-hover:-rotate-45 transition-transform"
      />
    </a>
    <div class="w-full h-px bg-gray-700"></div>
  </div>
</section>
