---
import { Image } from "astro:assets";
import EventImage_sm from "../assets/events-section/events_sm.jpg";
import EventImage from "../assets/events-section/events.jpg";
import testimonials from "../data/events-data/testimonials.json";
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
---

<section id="events" class="relative w-full h-[100dvh] flex flex-col">
  <!-- Línea superior -->
  <div class="w-full h-[3px] bg-primary"></div>

  <!-- Fondo -->
  <Image
    height={1920}
    width={1080}
    quality={80}
    src={EventImage_sm}
    alt="Event image mobile"
    class="z-0 h-full w-full object-cover brightness-75 md:hidden border-t border-primary"
  />
  <Image
    width={1920}
    height={1080}
    quality={80}
    src={EventImage}
    alt="Event image desktop"
    class="z-0 h-full w-full object-cover brightness-75 hidden md:block border-t border-primary"
  />

  <!-- CONTENIDO SUPERIOR (Título y botón) -->
  <div class="absolute bottom-16 right-10 flex flex-col gap-2 items-end z-30">
    <h2 class="text-5xl md:text-6xl text-secondary font-bold">Eventos</h2>
    <a href="/events" class="rounded-full light text-sm px-4 py-2 w-fit"
      >Ver Nuestro Eventos</a
    >
  </div>

  <!-- SWIPER CENTRADO -->
  <Swiper
    class="!absolute top-[20%] lg:top-1/2 lg:-translate-y-1/2 left-1/2 md:left-10 md:translate-x-0 -translate-x-1/2 w-[80%] md:w-[40%] h-[20%] z-20"
    options={{
      slidesPerView: 1,
      loop: true,
      direction: "vertical",
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    }}
  >
    <SwiperWrapper>
      {
        testimonials.map((testimonial) => (
          <SwiperSlide class="flex flex-col justify-center items-start gap-2 text-secondary">
            <h3 class="text-2xl  font-bold">{testimonial.name}</h3>
            <p class="text-sm md:text-base italic leading-snug">
              {testimonial.opinion}
            </p>
          </SwiperSlide>
        ))
      }
    </SwiperWrapper>
  </Swiper>
</section>
