---
import Logo from "../assets/footer/logo.svg";
import Logo_sm from "../assets/footer/logo_sm.svg";
---

<section id="footer" class="h-[100dvh] bg-pinkCustom w-full relative">
  <Logo class="absolute bottom-10 px-10 w-full left-1/2 -translate-x-1/2" />
</section>
