---
import Layout from "../../layouts/Layout.astro";
import Down_arrow_circle from "../../assets/icons/down_arrow_circle.svg";
import Logo from "../../assets/logo/logo.svg";

import EventsIsland from "../../components/helpers/EventsIsland";
---

<Layout
  title="Eventos"
  description="Descubre los eventos exclusivos de Laira Balance Studio. Únete a nuestras experiencias diseñadas para el bienestar, la conexión y la calma. Vive momentos únicos que reflejan nuestro compromiso con el equilibrio y la elegancia."
>
  <section
    id="events_interior"
    class="flex flex-col gap-12 w-full min-h-screen bg-secondary px-8 md:px-10 lg:px-20 pb-10"
  >
    <section id="events_text" class="prose prose-xl text-primary pt-32">
      <h1
        class="italic font-bold text-5xl lg:text-6xl thin-screen:text-3xl text-primary fade-up-item !duration-[600ms]"
      >
        Eventos
      </h1>
      <p class="fade-up-item !duration-[600ms]">
        En Laira Balance, cada evento es una extensión de nuestra filosofía:
        crear espacios donde el bienestar se viva con propósito y elegancia.
      </p>
      <p class="fade-up-item !duration-[600ms]">
        Diseñamos experiencias sensoriales que combinan movimiento, conexión y
        calma desde sesiones especiales de yoga al atardecer hasta encuentros
        dedicados al arte del descanso y la nutrición consciente.
      </p>
      <p class="fade-up-item !duration-[600ms]">
        Más que actividades, son rituales compartidos. Momentos para reconectar
        con uno mismo y con una comunidad que celebra el balance como estilo de
        vida.
      </p>
    </section>
    <Logo
      class="fixed h-full top-0 right-10 translate-x-1/2 opacity-50 text-primary/50 py-20 z-10"
    />
    <a
      href="#events_grid"
      class="fade-up-item !duration-[600ms] hover:bg-pinkCustom/50 w-10 rounded-full transition-all cursor-pointer group"
    >
      <Down_arrow_circle
        class="w-8 md:w-10 lg:w-10 group-hover:scale-105 transition-transform duration-200 text-primary"
      />
    </a>
    <EventsIsland client:load />
  </section>
</Layout>
<style>
  p {
    @apply text-lg;
  }
</style>
